*{
    margin: 0px;
    border: 0px;
}
body {
    background-color: rgb(61, 61, 61);
}
header{
    background-color: blueviolet;
}
h1 {
    color: white;
    font-size: 60px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    border: 0px solid;
}
.menu{
    background-color: blueviolet;
    color: white;
    text-align: right;
    position: absolute;
    left: 20px;
    top: 16px;
    cursor: pointer;
    padding:20px;
    margin-top:0px;
}
.mqueda{
    display: inline-block;
}
.quedaf{
    display: none;
    min-width: 200px;
}
.quedaf a {
    color: rgb(255, 255, 255);
    padding: 20px;
    text-decoration: none;
    display: block
}
.mqueda:hover .quedaf {
    display: block;
    position: right;
}
header {
    position: sticky;
    top: 0;
}
.caixa1 {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
    background-color: rgb(100, 100, 100);
    height: fit-content;
    color: white;
}
.titulo{
    font-size: xx-large;
}
.texto{
    font-size: larger;
}
.imagemsobre{
    width: 30%;
    position: relative;
    left: 35%;
}
.email{
    height: 50px;
    width: 300px;
}
.twitter{
    color: white;
}
.instagram{
    color: white;
}